body {
    background-image: url("../images/scratch.png");  
    background-color: rgb(226, 209, 209);
}

header {
    background-color: #ffffff;
    height: 70px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    color: #4aaaa5;
    margin: 10px 10px 20px 10px;
}

p {
    color: #777777;
    font-size: 17px;
    line-height: 165%;
    margin: 8px;
}
.connect {
    height: 4px;
    border: 2;
    border-style: solid;
    border-color: #777777;
}

a:link, a:visited {
    text-decoration: none;
    color: #777777;
}

a:hover {
    text-decoration: none;
    color: red;
}

.name {
    text-align: center;
    color: white;
    background-color: #4aaaa5; 
    font-size: 24px;
    font-family: "Georgia", Times, 'Times New Roman', serif;
    font-weight: bold;
    width: 22%;
    position: fixed;
    top: 0px;
    margin: 0px 0px 0px 80px;
    padding: 23px;
}

.link1 {
    font-size: 15px;
    color: #777777;
    position: fixed;
    top: 27px;
    right: 110px;
    font-family: Arial, Helvetica, sans-serif;
}

.link2 {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #777777;
    position: fixed;
    top: 27px;
    right: 175px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 15px 0px 15px;
    border-left: 1px;
    border-right: 1px;
    border-style: solid;
    border-color: #777777;
}

.link3 {
    font-size: 15px;
    color: #777777;
    position: fixed;
    top: 27px;
    right: 280px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.about {
    text-align: wrap;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background-color: #ffffff;
    Position: absolute;
    left: 51px;
    width: 540px;
    margin: 30px;
    padding: 21px 30px 20px 30px;
    border: 2px;
    border-style: solid;
    border-color: #dddddd;
}

.pic {
    float: left;
    margin: 5px 15px 5px 10px;
    border: none;
}

img {
    border-radius: 8px;
    float: left;
}

.thumb {
    float: left;
    margin: 15px;
}
.connect-box {
    text-align: center;
    font-weight: bold;
    color: #777777;
    background-color: #ffffff;
    position: fixed;
    right: 59px;
    padding: 21px 20px 20px 15px;
    margin: 30px 30px 30px 30px;
    border: 2px;
    border-style: solid;
    border-color: #dddddd;
}

.contact-form {
    text-align: wrap;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background-color: #ffffff;
    Position: absolute;
    left: 51px;
    width: 540px;
    margin: 30px;
    padding: 21px 30px 20px 30px;
    border: 2px;
    border-style: solid;
    border-color: #dddddd;
}

.gallery {
    color: #777777;
    background-color: #ffffff;
    Position: absolute;
    left: 51px;
    width: 540px;
    margin: 30px;
    padding: 21px 30px 20px 30px;
    border: 2px;
    border-style: solid;
    border-color: #dddddd;
}

#submit-button {
    background-color: #4aaaa5;
    color: #ffffff;
}

.row {
    margin: 4px;
}
.icon {
    float: right;
    margin: 15px 7px 15px 7px;
}
.footer {
    height: 55px;
    text-align: center;
    font-size: 10px;
    color: #ffffff;
    background-color: #666666;
    width: 100%;
    height: 25px;
    position: fixed;
    bottom: 0px;
    padding: 18px; 
    border-top: 10px;
    border-style: solid;
    border-color: #4aaaa5;
}